:root {
    --dark-grey: rgb(20, 20, 20);
    --dark-green: #036846;
}

body {
    background: linear-gradient(var(--dark-grey), 65%, var(--dark-green));
    background-size: cover;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    gap: 2rem;
}

.vertical {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}

button {
    width: auto;
    margin-block: 1rem;
    padding: 2rem 2.5rem;
    font-size: 3rem;
    border: none;
    border-radius: .5rem;
    background-color: rgb(45, 45, 45);
}